@import "_variables";
@import "_mixin";

/* Globales */
*{
    margin: 0;
    padding: 0;
}
nav, footer{
    background-color: $colorprincipal;
}
i{
    color: $colorprincipal;
}

/* Extended */
.titulos{
    color: $colortitulos;
}
.titulos--centrado{
    @extend .titulos;
    text-align: center;
}

/* Responsive */
@media screen and (min-width: 300px) {
    body {
        font-family: 'Oswald', sans-serif !important; 
    }
    .principal{
        background-image: url(../img/header.jpg);
        @include sizes(100%, 200px);
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        h1{
            text-transform: uppercase;
            text-align: center;
            color: #FFF;
            text-shadow: 3px 0px 32px rgba(209, 141, 232, 1);
            animation-name: map-get($animation, name );
            animation-duration: map-get($animation, duracion );
            animation-timing-function: map-get($animation, time );
            animation-delay: map-get($animation, delay );
            animation-iteration-count: map-get($animation, itera );
            animation-direction: map-get($animation, direc );
            @keyframes focus-in-contract {
                0%{
                  letter-spacing: 1em;
                  filter: blur(12px);
                  opacity: 0;
                }
                100%{
                  filter: blur(0);
                  opacity: 1;
                }
            }
        }
    }
    main{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
    }
    .formulario{
        padding: 20px;
        width: 70%;
    }
    .portafolio{
        @include sizes(100%, 100%);
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 20px 0;
    }
    .port{
        width: 90%;    
        h4{
            padding: 10px;
        }
        img{
            width: 100%;
            padding: 5px;
            -moz-border-radius: 15px 15px 15px 15px;
            -webkit-border-radius: 15px 15px 15px 15px;
        }
    }
    .no-gutter {
        margin-right: 0;
        margin-left: 0;
    }
    .no-gutter > [class*="col-"] {
        padding-right: 0;
        padding-left: 0;
    }
}
@media (min-width: 768px) {
    .principal{
        height: 400px;
        h1{
            font-size: 4vw;
        }
    }
    .port{
        width: 30%;    
    }
}
